<div [formGroup]="form">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>
          {{ title }}
        </th>
      </tr>
    </thead>
    <tbody *ngIf="isEdit">
      <tr formArrayName="keyValuePairs"
        *ngFor="let keyValuePair of form['controls'].keyValuePairs['controls']; let keyValuePairIndex = index;">
        <td>
          <div [formGroupName]="keyValuePairIndex" class="input-group">
            <div class="input-group-prepend">
              <div (click)="onDelete(keyValuePairIndex)" class="input-group-text icon__cursor-pointer">
                <i class="fa fa-times-circle"></i>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="{{ keyPlaceholder }}" formControlName="key">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="{{ valuePlaceholder }}" formControlName="value">
                </mat-form-field>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="actions">
          <div>
            <div class="button__hosts--add">
              <button mat-mini-fab color="primary" (click)="onAddItem()" type="button">
                <mat-icon class="fa fa-plus-circle"></mat-icon>
              </button>
            </div>
            <div class="button--check">
              <button mat-mini-fab [color]="'success'" (click)="onClose()" type="button">
                <mat-icon class="fa fa-check"></mat-icon>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>