<div class="content">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="card-header bg-secondary text-white">
        Setup
      </div>
      <div class="card-body">
        <div class="form-group">
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Store As">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div formGroupName="dockerSetup" class="card">
      <div class="card-header bg-secondary text-white">
        Docker Setup
      </div>
      <div class="card-body">
        <div class="form-group">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput formControlName="registryUrl" placeholder="Registry Url">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input matInput formControlName="imageName" placeholder="Image">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <app-key-value-pair [title]="'Environemnt Variables'" [keyPlaceholder]="'Variable Name'"
              [valuePlaceholder]="'Variable Value'" (keyValuePairsChange)="onEnvironmentVariablesChange($event)">
            </app-key-value-pair>
          </div>
        </div>
        <div class="form-group">
          <div>
            <app-key-value-pair [title]="'Exposed Ports'" [keyPlaceholder]="'External Port'"
              [valuePlaceholder]="'Internal Port'" (keyValuePairsChange)="onPortsChange($event)">
            </app-key-value-pair>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-secondary text-white">
        Hosts Setup
      </div>
      <div class="card-body">
        <div class="form-group">
          <app-host-setup (hostsSetupChange)="onHostsSetupChange($event)"></app-host-setup>
        </div>
      </div>
    </div>
    <div class="actions-container">
      <div class="actions">
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>