<div class="card" [formGroup]="form">
  <div (click)="onCloseHostsSetup()" class="card-header bg-info text-white icon__cursor-pointer">
    <span class="title">Host Tags</span>
    <fa-icon *ngIf="editionMode" [icon]="isEditHostsSetup ? ['fa', 'times-circle'] : ['fa', 'pencil-alt']"></fa-icon>
  </div>
  <!-- Host tags summary -->
  <table class="table table-bordered host_tags__summary">
    <tbody *ngIf="!isEditHostsSetup">
      <tr *ngFor="let hostSetup of hostsSetup; let hostSetupIndex = index;"
        [ngClass]="!hostSetup.selected ? 'unselected' : ''">
        <td>
          <div class="tag-summary__container">
            <div *ngIf="editionMode" (click)="onDeleteHostsSetupItem(hostSetupIndex)"
              class="input-group-text icon__cursor-pointer icon__close">
              <fa-icon [icon]="['fa', 'times-circle']"></fa-icon>
            </div>
            <!-- No edition mode -->
            <section *ngIf="!editionMode" class="input-group-text icon__close">
              <mat-checkbox (change)="onSelectHostsSetupItem(hostSetupIndex)" [indeterminate]="false"
                [checked]="hostSetup.selected"></mat-checkbox>
            </section>
            <!-- End no edition mode -->
            <div class="tag-summary__legend">
              <span>{{ hostSetup.tagName }}</span>
            </div>
            <!-- No edition mode -->
            <div *ngIf="!editionMode">
              <table *ngIf="hostSetup.selected" class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      <div class="hosts-title__container">
                        <div class="hosts-title__message">
                          <span>Hosts</span>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <!-- No edition mode hosts summary -->
                <tbody>
                  <tr *ngFor="let host of hostSetup.hosts; let hostIndex = index;"
                    [ngClass]="!host.selected ? 'unselected' : ''">
                    <td>
                      <div class="host-summary__container">
                        <section class="input-group-text icon__close">
                          <mat-checkbox (change)="onSelectHostItem(hostSetupIndex, hostIndex)"
                            [checked]="host?.selected"></mat-checkbox>
                        </section>
                        <div class="host-summary__legend">
                          <span>{{ host.ip }}</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <!-- End no edition mode hosts summary -->
              </table>
            </div>
            <!-- End no edition mode -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- End host tags summary -->
  <!-- Host tags edition -->
  <div>
    <div *ngIf="isEditHostsSetup" class="card-body">
      <!-- <div class="card-body"> -->
      <div formArrayName="hostsSetup">
        <div *ngFor="let hostSetup of form['controls'].hostsSetup['controls']; let hostSetupIndex = index;">
          <div [formGroupName]="hostSetupIndex">
            <div class="row">
              <div class="col">
                <div *ngIf="editionMode" (click)="onDeleteHostsSetupItem(hostSetupIndex)" class="icon">
                  <fa-icon [icon]="['fa', 'times-circle']"></fa-icon>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput placeholder="Hosts Tag Name" formControlName="tagName">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!-- Hosts start -->
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>
                        <div class="hosts-title__container">
                          <div class="hosts-title__message">
                            <span>Hosts</span>
                          </div>
                          <div *ngIf="editionMode" (click)="onCloseHosts()"
                            class="hosts-title__icon icon__cursor-pointer">
                            <fa-icon [icon]="isEditHosts ? ['fa', 'times-circle'] : ['fa', 'pencil-alt']"></fa-icon>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <!-- Hosts summary -->
                  <tbody *ngIf="!isEditHosts && hostsSetup.length > 0">
                    <tr *ngFor="let host of hostsSetup[hostSetupIndex]?.hosts; let hostIndex = index;">
                      <td>
                        <div class="host-summary__container">
                          <div (click)="onDeleteHostsItem(hostSetupIndex, hostIndex)"
                            class="input-group-text icon__cursor-pointer icon__close">
                            <fa-icon [icon]="['fa', 'times-circle']"></fa-icon>
                          </div>
                          <div class="host-summary__legend">
                            <span>{{ host.ip }} = sdg</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <!-- End hosts summary -->
                  <!-- Hosts edition -->
                  <tbody *ngIf="isEditHosts">
                    <tr formArrayName="hosts"
                      *ngFor="let host of hostSetup['controls'].hosts['controls']; let hostIndex = index">
                      <td>
                        <div [formGroupName]="hostIndex" class="input-group">
                          <div class="input-group-prepend">
                            <div (click)="onDeleteHostsItem(hostIndex)" class="input-group-text icon__cursor-pointer">
                              <fa-icon [icon]="['fa', 'times-circle']"></fa-icon>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <mat-form-field>
                                <input matInput placeholder="IP Address" formControlName="ip">
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field>
                                <input matInput placeholder="Username" formControlName="username">
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field>
                                <div class="password">
                                  <div class="password__input-text">
                                    <input matInput placeholder="Password" formControlName="password"
                                      [type]="hide ? 'password' : 'text'">
                                  </div>
                                  <div (click)="hide = !hide" class="password__icon">
                                    <fa-icon matSuffix [icon]="hide ? ['fa', 'eye-slash'] : ['fa', 'eye']"
                                      class="icon__cursor-pointer"></fa-icon>
                                  </div>
                                </div>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="actions">
                        <div>
                          <div class="button__hosts--add">
                            <button mat-mini-fab color="primary" (click)="onAddHostsItem(hostSetupIndex)" type="button">
                              <fa-icon [icon]="['fa', 'laptop-medical']"></fa-icon>
                            </button>
                          </div>
                          <div class="button--check">
                            <button mat-mini-fab [color]="'success'" (click)="onCloseHosts()" type="button">
                              <fa-icon [icon]="['fa', 'check']"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <!-- End hosts edition -->
                </table>
                <!-- Hosts end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End host tags edition -->
  <div *ngIf="isEditHostsSetup" class="card-footer text-muted">
    <div>
      <div class="button--add">
        <button mat-mini-fab color="accent" (click)="onAddHostsSetupItem()" type="button">
          <fa-icon [icon]="['fa', 'plus-circle']"></fa-icon>
        </button>
      </div>
      <div class="button--check">
        <button mat-mini-fab [color]="'success'" (click)="onCloseHostsSetup()" type="button">
          <fa-icon [icon]="['fa', 'check']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>