html
    min-height: 100%
    position: relative

body
    height: 100%

.content-container
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    z-index: -1
    // border: solid green 5px

.header
    float: left
    width: 100%
    height: 5%
    // border: solid yellow 5px

.footer
    float: left
    width: 100%
    height: 5%
    // border: solid gray 5px

.main
    float: left
    width: 100%
    height: 90%
    // border: solid blue 5px

.main__container
    position: absolute
    width: 100%
    height: 90%

.sidebar
    // border: solid purple 5px
    width: 20%
    height: 100%
    float: left

.main__container
    position: absolute
    height: 100%
    // border: solid brown 5px

.content
    // border: solid red 5px
    width: 80%
    height: 100%
    float: left

