.content-container
    // position: relative
    height: 100%
    min-height: 100vh
    width: 100%
    // border: solid black
    display: table

.header
    background: linear-gradient(90deg, #DCDCDC, #6A696C)
    // border: solid green
    display: table-row
    height: 5%

.main
    height: 100%
    width: 100%
    // border: solid grey
    display: table

.sidebar
    float: left
    height: 100%
    width: 20%
    background: linear-gradient(90deg, #7E04CC, #5D489A)
    // border: solid red
    display: table-cell

.content
    float: left
    height: 100%
    width: 80%
    // border: solid blue
    display: table-cell

.footer
    height: 5%
    width: 100%
    // border: solid yellow    
    display: table-row
