a
    text-decoration: none
    color: #78389C
    display: block
    padding: 1em

.menu__legend
    padding: 0.5em

.items__item
    width: 100%

.items__item,
.items__item a
    &:hover
        background-color: #78389C
        color: white
        font-weight: bold

.item__icon
    padding: 0 0.5em